.navbar-additional {
    background-color: #a3b7b9;
}

body {
    background-color: #f6ebd8;
}

.login-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  margin: 20px;
}

.haiku {
  font-style: italic;
  font-family: Konatsu;
}

h5>a {
  color: black;
  text-decoration: none;
}