{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<div class="card mb-3 text-left border-2">
    <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ MEDIA_PREFIX }}{{ cafe.first_photo }}" alt="Cafe image">
            </div>

            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">{{ cafe.name }}</h5>
                    <p>{{ cafe.location }}</p>
                    <p class="card-text">{{ cafe.description }}</p>
                </div>
            </div>

        <div class="col-md-3 d-flex align-items-center">
            <div class="card-body haiku">
                <div>An old silent pond</div>
                <div>A frog jumps into the pond</div>
                <div>Splash! Silence again.</div>
            </div>
        </div>
    </div>
</div>