<div class="card mb-3 text-left border-2">
    <div class="row no-gutters">
        {% include "coffee/includes/display_image.html" with cafe=cafe %}
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ cafe.name }}</h5>
                    <p>{{ cafe.location }}</p>
                    <p class="card-text">{{ cafe.description }}</p>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center my-2">
                    <a href="{{ listing.get_absolute_url }}" class="btn btn-primary">View Listing</a>
                </div>
            </div>
<!--        {% include "coffee/includes/display_poetry.html" with cafe=cafe %}-->
    </div>
</div>