<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Review the Coffee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="flex d-flex justify-content-around">
                    <span class="review_text">Quality</span>
                    <input type="range" id="qualityInputId" value="4" min="1"
                           max="5" step="1"
                           oninput="qualityOutputId.value = qualityInputId.value">
                    <div class="star_text">
                        <output id="qualityOutputId">4</output>
                        <span></span>
                    </div>
                </div>
                <div class="flex d-flex justify-content-around">
                    <span class="review_text">Latte Art</span>
                    <input type="range" id="artInputId" value="4" min="1"
                           max="5" step="1"
                           oninput="artOutputId.value = artInputId.value">
                    <div class="star_text">
                        <output id="artOutputId">4</output>
                        <span></span>
                    </div>
                </div>
                <div class="flex d-flex justify-content-around">
                    <span class="review_text">Barrista Friendliness</span>
                    <input type="range" id="barristaInputId" value="4" min="1"
                           max="5" step="1" class="review_range"
                           oninput="barristaOutputId.value = barristaInputId.value">
                    <div class="star_text">
                        <output id="barristaOutputId">4</output>
                        <span></span>
                    </div>
                </div>
                <div class="flex d-flex justify-content-around">
                    <span class="review_text">Price</span>
                    <input type="range" id="priceInputId" value="4" min="1"
                           max="5" step="1" class="review_range"
                           oninput="priceOutputId.value = priceInputId.value">
                    <div class="star_text">
                        <output id="priceOutputId">4</output>
                        <span></span>
                    </div>
                </div>
                <div class="flex d-flex justify-content-around">
                    <span class="review_text">Opening Hours</span>
                    <input type="range" id="openInputId" value="4" min="1"
                           max="5" step="1" class="review_range"
                           oninput="openOutputId.value = openInputId.value">
                    <div class="star_text">
                        <output id="openOutputId">4</output>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer flex d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-review" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>