{% extends "coffee/layout.html" %}
{% load static %}

{% block body %}
<div id="create-view" class="container-fluid login-container">
    <div class="flex-item">
        <h2>New Café</h2>

        {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <form class="needs-validation" action="{% url 'new' %}" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" autofocus type="text" name="name" id="name" required>
                <div class="invalid-feedback">Please enter a café name</div>
            </div>
            <div class="form-group mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" name="location" id="location" required>
                <div class="invalid-feedback">Please enter a location</div>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="form-label">Description</label>
                <div class="d-flex flex-row">
                    <textarea id="description" name="description" cols="50" rows="6" required></textarea>
                </div>
                <div class="invalid-feedback">Please enter a description</div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Images</label>
                <div>
                    <input required name="images" type="file" multiple class="form-control-file">
                    <div class="invalid-feedback">Please add at least one image</div>
                </div>
            </div>
            <div>

            </div>
            <input class="btn btn-dark" type="submit" value="Create">
        </form>
    </div>
</div>

<script src="{% static 'coffee/validation.js' %}"></script>
{% endblock %}